* {
  padding: 0px;
  margin: 0px;
}

body {
  padding-top: 56px;
  background-color: $lichtblauw;
  color: inherit;
}

section {
  background-color: white;
  color: inherit;
  margin: 0px;
  padding: $dikte*3;
}

.container {
  background-color: $lichterblauw;
  color: inherit;
  border: $dikte solid $mediumgroen;
  margin: 0 auto;
}

.btn, header, .header {
  color: white;
  background-color: $mediumblauw;
}

nav {
  color: white;
  background-color: $donkerblauw;
}

footer {
  color: white;
  background-color: $donkergroen;

  p {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
    background-color: inherit;
  }

  a, .a {
    text-align: center;
    text-decoration: none;
    color: $lichtergroen;
    background-color: inherit;
    display: block;

    &:hover {
      text-decoration: underline;
      color: $donkergroen;
      background-color: $lichterblauw;
    }
  }

  .naamfooter {
    font-size: small;
  }
}

p, .p {
  color: darken($donkerblauw, 10%);
  font-size: $lettergrootte;
  line-height: $lettergrootte*1.5;
  text-align: justify;


}


a, .a {
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

.volledig{
  height: 100vh;
  text-align: center;
}

ul {
  list-style-position: inside;
}

.btn-donkerblauw {
  background-color: $donkerblauw;
  color: white;
}

.card-footer {
  background-color: $lichtblauw;
}

.card-body {
  background-color: $lichtgroen;
}


