* {
  padding: 0px;
  margin: 0px;
}

body {
  padding-top: 56px;
  color: inherit;
  background-image: linear-gradient(to bottom, $mediumblauw, $lichtblauw, $lichterblauw, $lichtergroen, $lichtgroen, $mediumgroen);
  background-repeat: no-repeat;
}

section {
  margin: 0px;
  padding: $dikte*3;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

hr {
  margin: 0 20vw;
  border: 1px solid $accent;
}

.volledig {
  min-height: 75vh;
}

.container {
  background-color: $lichterblauw;
  color: inherit;
  border: $dikte solid $donkerblauw;
}

.btn, header, .header {
  color: white;
  background-color: $mediumblauw;
}

nav {
  color: white;
  background-color: $donkerblauw;
}

footer {
  color: white;
  background-color: $donkergroen;

  p {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
    background-color: inherit;
  }

  a, .a {
    text-align: center;
    text-decoration: none;
    color: $lichtergroen;
    background-color: inherit;
    display: block;

    &:hover {
      text-decoration: underline;
      color: $donkergroen;
      background-color: $lichterblauw;
    }
  }

  .naamfooter {
    font-size: small;
  }
}

p, .p {
  color: darken($donkerblauw, 10%);
  font-size: $lettergrootte;
  line-height: $lettergrootte*1.5;
  text-align: left;
}


a, .a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.begin {

  height: 100vh;
  text-align: center;
}

ul {
  list-style-position: inside;
}

.btn-donkerblauw {
  background-color: $donkerblauw;
  color: white;
}

.card-footer {
  background-color: $lichtblauw;
}

.card-body {
  background-color: $lichtergroen;
}

ul {
  text-align: left;
  font-size: 1.8*$kleiner;
}

li {
  list-style: none;
  font-size: $lettergrootte;
  line-height: $lettergrootte*1.5;
}

