@import url('https://fonts.googleapis.com/css?family=Days+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.daysone {
  font-family: 'Days One', sans-serif;
}

.lagefoto {
  height: 100px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Days One', sans-serif;}

.outer-div
{
  width: 100%;
  overflow: hidden;
}
.inner-div
{
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 2s ease;
}
.inner-div:hover
{
  transform: scale(1.5);
}
achtergrondg {
  margin: 0;
  padding: 0;
}
sectie {
  height: 100vh;
  background:white;
  overflow: hidden;
}