.btn,header {
  color: white;
  background-color: $lichtblauw;
}

.btn-donkerblauw {
  background-color: $donkerblauw;
  color: white;
}

footer {
  color: white;
  background-color: $donkergroen;
}

nav {
  color: white;
  background-color: $donkerblauw;
}

.card-footer {
  background-color: $lichtblauw;
}

.card-body {
  background-color: lightgrey;
}