@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Days+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font-family-sans-serif: 'Arimo', sans-serif;
$font-family-alle-titels: 'Dancing Script', cursive;
$grid-breakpoints: (
        xs: 0,
        sm: 600px,
        md: 800px,
        lg: 1000px,
        xl: 1200px
);

$container-max-widths: (
        sm: 580px,
        md: 760px,
        lg: 960px,
        xl: 1160px
) !default;

$mediumgroen: #7B904B;
$lichtergroen: lighten($mediumgroen, 48%);
$lichtgroen: lighten($mediumgroen, 25%);
$donkergroen: #273B09;

$mediumblauw: #598392;
$lichterblauw: lighten($mediumblauw, 48%);
$lichtblauw: lighten($mediumblauw, 25%);
$donkerblauw: #124559;

$dikte: 5px;
$lettergrootte: $dikte*4;
$kleiner: 15px;

$accent: #990829;
$wit: #FFFFFF;

$theme-colors: (
        "donkergroen": $donkergroen,
        "mediumgroen": $mediumgroen,
        "lichtgroen": $lichtgroen,
        "lichtergroen": $lichtergroen,
        "lichtblauw": $lichtblauw,
        "donkerblauw": $donkerblauw,
        "mediumblauw": $mediumblauw,
        "lichterblauw": $lichterblauw,
        "accent": $accent
);

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Days One', sans-serif;
  text-transform: lowercase;
}

