//Mixin Ward
@mixin kleurencombinatie($backgroundcolor, $color){
  background-color: $backgroundcolor;
  color: $color;
}

//Mixin gert
@mixin basiskleuren($donkerblauw,$lichtblauw,$wit) {
  background-color: $lichtblauw;
  border: 3px solid $lichtblauw;
  color: $wit;
}

//Mixin thibaut
@mixin footerding($marge,$paddig) {
  margin-left: $marge;
  margin-top: 3*$marge;
  padding: 2*$paddig;

}