.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.font-klein {
  font-size: $kleiner;
  line-height: 1.33 * $kleiner;
}
.font-medium{
  font-size: 2*$kleiner;
  line-height: 3*$kleiner;
}

.font-groot {
  font-size: 4.5*$kleiner;
  line-height: 5*1.33*$kleiner;
}

.font-gigantisch {
  font-size: 7 * $kleiner;
  line-height: 9 * $kleiner;
}

#accordion .ui-accordion-header {
  background: $lichtblauw;
}

#accordion .ui-accordion-header.ui-state-active {
  background: $donkerblauw;
  color: $white;
}

#tabs {
  background: $lichterblauw;
}

.ui-tabs .ui-tabs-nav {
  background: $donkerblauw;
}

.ui-tabs:active {
  background: $lichtergroen;
}

.opacity {
  opacity: 0.83;
  filter: alpha(opacity=83);
}

.draaiing {
  transition: 0.25s ease-out;
}

.draaiing:hover {
  transform: scale(1.2) skewX(-10deg);
  transition: 0.25s ease-in;
}

.patroon {
  background-color: $lichterblauw;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.carbonpatroon {
  background: linear-gradient(135deg, $lichtblauw 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
  linear-gradient(225deg, $lichtblauw 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px) 0 64px;
  background-color: $lichtblauw;
  background-size: 64px 128px;
}

@keyframes pijltje {

  0% {
    top: 120px;
  }
  75% {
    top: 150px;
    transform: scale(1.6);
  }
  100% {
    top: 120px;
  }
}

.pijl {
  top: 120px;
  position: relative;
  animation-name: pijltje;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-duration: 3s;
}

#begintekst {
  width: 50%;
  height: 50%;
  left: 100%;
  text-align: center;
}




.onder{
  @include footerding(10px,20px)
}