.knop {
  @include button-variant($donkerblauw, lighten($mediumblauw, 15%), $accent, darken($accent, 15%), lighten($donkerblauw, 15%), darken($accent, 15%));
  @include button-size($btn-padding-y*1.5, $btn-padding-x*1.5, $font-family-sans-serif, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);
}

.lead {
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 50vw;
  text-align: center;
  margin: auto;
  color: rgba(255, 255, 255, 0.8) !important;
  background-color: inherit;
}

.card-type {
  @include kleurencombinatie($donkerblauw, lighten($mediumblauw, 20%));
  margin: 15px auto;
}

.kaart {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  

}
