.knop {
  @include button-variant($donkerblauw, lighten($mediumblauw, 15%), $accent, darken($accent, 15%) , lighten($donkerblauw, 15%), darken($accent, 15%));
  @include button-size($btn-padding-y, $btn-padding-x, $font-family-sans-serif, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

}

gradient{
  background-image: linear-gradient(to bottom ,$mediumblauw, $lichtblauw, $lichterblauw, $lichtergroen, $lichtgroen, $mediumgroen);
  background-repeat: no-repeat;
}


.lead {
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 50vw;
  text-align: center;
  margin: auto;
  color: rgba(255, 255, 255, 0.8) !important;
  background-color: inherit;
}

.stap {
  text-align: left;
  font-style: normal;
  font-size: 18px !important;
  line-height: 27px !important;

  staptitel {
    display: block;
    background-color: white;
    color: $mediumblauw;
    font-size: 30px;
    line-height: 45px;
  }

  stap1, stap3 {
    background-color: $lichtblauw;
    color: $donkerblauw;
  }

  stap2, stap4 {
    background-color: $lichtgroen;
    color: $donkergroen;
  }
}

.card-type {
  @include kleurencombinatie($donkerblauw, lighten($mediumblauw, 20%));
  margin: 15px auto;
}

