.knop {
  @include button-variant($donkerblauw, lighten($mediumblauw, 15%), $accent, darken($accent, 15%), lighten($donkerblauw, 15%), darken($accent, 15%));
  @include button-size($btn-padding-y*1.5, $btn-padding-x*1.5, $font-family-sans-serif, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);
}

.lead {
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 50vw;
  text-align: center;
  margin: auto;
  color: rgba(255, 255, 255, 0.8) !important;
  background-color: inherit;
}

.card-type {
  @include kleurencombinatie($donkerblauw, lighten($mediumblauw, 20%));
  margin: 15px auto;
}

iframe {
  min-height: 300px;
}

.kaart {
  max-width: 100%;
  vertical-align: middle;
  height: auto;

  border: 3px solid $donkerblauw;
  display: inline-block;
  transition: color 500ms linear, transform 1s ease-in 500ms;

  &:hover {
    border: 5px solid $accent;
    transform: scale(1.5, 1.5);
  }
}

.container-breedte{
  width: 800px ;
}

.vader {
  position: relative;
}

@keyframes zoeken{
  0%   {left: 270px; }
  100%  {left: 170px; }
}

//struik links
#zoon1 {
  position: absolute;
  top: 320px;
  left: 270px;
  z-index: 130;

  animation-name: zoeken;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 4s;
}

@keyframes ward{
  0%   {left: 335px; }
  100%  {left: 435px; }
}

//struik rechts
#zoon2 {
  position: absolute;
  top: 298px;
  left: 335px;
  z-index: 110;

  animation-name: ward;
  animation-delay: 1s;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes beyens{
  0%   {left: 265px; }
  100%  {left: 165px; }
}

//boom links
#zoon3 {
  position: absolute;
  top: 200px;
  left: 265px;
  z-index: 110;

  animation-name: beyens;
  animation-delay: 2s;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes yolo{
  0%   {left: 365px; }
  100%  {left: 465px; }
}

//boom rechts
#zoon4 {
  position: absolute;
  top: 230px;
  left: 365px;
  z-index: 120;

  animation-name: yolo;
  animation-delay: 3s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#zoon5 {
  position: absolute;
  top: 335px;
  left: 340px;
  z-index: 100;
}


